@media screen and (max-width: 1280px){
  body{
    font-size: 85%;
  }
  .showcase{
    .col-lg{
      .image{
        width:400px;
      }
    }

  }
}

@media screen and (max-width: 991.98px){
  body{
  }
  .intro{
    .image{
      text-align: center !important;
    }
    .content{
      padding:0;
      padding-top: 2em;
      text-align: center !important;
    }
  }
  .showcase{
    .col-lg{
      text-align: center;
      h3{
        text-align: center;
      }
      ul{
        text-align: center;
      }
      .image{
        margin-bottom: 60px;
      }
    }
  }

}
@media screen and (max-width: 799.88px){
  #to-top{
    display:none;
  }
  .contact{
    .contact-bottom{
      ul{

        li{
          padding: 0 10px 0 10px;
          a{
            padding: 0 2px 0 2px;
            font-size: 1.2em;

          }
        }
      }
    }
  }
}

@media screen and (max-width: 559.98px){
  body{
    font-size: 60%;
  }
  .intro{
    .content{
      font-size: 1em;
    }
  }
  .showcase{
    .col-lg{
      .image{
        width:300px;
      }
    }
  }
  .divider{
    margin-bottom: -8px;
    margin-left: -5px;
    padding: 0;
    width:105vw;
  }
}
