$maincolor: #373F51;
$accent:#2CDA9D;
$accent2:#C80611;
html{
  overflow-x:hidden;
  width:100vw;
}
body{
  font-size: 100%;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.025em;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
h1{
  font-size: 3.25em;
  margin: 0 0 1.5rem 0;
  letter-spacing: 0.025em;
}
h2 {
    font-size: 2.5em;
}
h3{
  font-size: 1.75em;
}
h5{
  font-size: 1.2em;
}
p{
  font-size: 1em;
}
hr{
  border: 0;
  border-top: 2px solid $accent;
  height: 1px;
  margin-top: 4px;
  width: 30px;
}
ul{
  text-align: left;
}
li{
  font-size: 1em;
  display:inline;
  padding-right: 2em;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
.row {
  padding-left: 0;
  padding-right:0;
  padding-top: 5em;
  padding-bottom: 5em;
}

#to-top{
  z-index: 10000;
  position: fixed;
  right:1em;
  bottom:3em;
  background-color: rgba(	40,	210,	150, 0.4);
  width: 4em;
  height: 4em;
  border-radius:100%;
  visibility: hidden;
  opacity:0;
  transition: all .3s ease;
  i{
    font-size: 1.5em;
    color:rgba(255,255,255,0.5);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -60%);
    transition: all .3s ease
  }
}
#to-top:hover{
  cursor:pointer;
  background-color: rgba(	40,	210,	150, 0.8);
  i{
    color:rgba(255,255,255,1);
    top:30%;
  }
}


.intro{
  padding: 10em 0 10em 0;
  .content{
    a{
      color: $accent;
    }
    a:hover{
      color: $maincolor;
    }
    padding-top:1em;
    padding-left: 2em;
  }
  img{
    width:22em;
  }
  h5{
    span{
            padding-right:2em;
    }

    a{
      color: $accent;
    }
    a:hover{
      color: $maincolor;
    }
  }
  .name{
    color:$accent;
  }
  p{
    font-size: 1.5em;
    margin: 0 0 1.5em 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 1.5em;
    margin-left: 0px;
  }
}
.divider{
  margin:0;
  margin-left:-5px;
  margin-bottom: -10px;
  padding: 0;
  width:105vw;
  svg{
    width:100vw;
  }
}
.background-skills{
    background-color: $maincolor;
    width:100vw;
}
.skills{
  padding: 0 2em 5em 2em;
  color:white;
  h2{
    text-align: center;
  }
  li{
    display:inline;
    padding-right: 2em;
  }
  .languages li::before{
    background-color: #D90368;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: .375rem;
    width: 10px;
  }
  .frameworks li::before{
    background-color: $accent;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: .375rem;
    width: 10px;
  }
  .tools li::before{
    background-color: #22AED1;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: .375rem;
    width: 10px;
  }
}

.projects{

  hr{
    border-top-color: $accent;
  }
  .header{
    padding-bottom:0;
  }
  h3{
    text-align: left;
  }
  .bottom{
    padding-top:2em;
    padding-bottom: 0em;
  }
}

.showcase{
  padding-top:4em;

  object{   // SVG divider
    width:100vw;
  }
  .col-lg{
    .project-links{
      margin-top:50px;
      a{
        font-size:small;
        padding:8px;
        margin:10px;
        border:1px solid $maincolor;
        color:$maincolor;
        transition:.1s ease;
      }
      a:hover{
        border-radius:5px;
        text-decoration: none;
        background-color:$accent;
        color:white;
        border:1px solid $accent;
                transition:.1s ease;
      }

    }
    padding-left: 2em;
    padding-right: 2em;
    .image{
      width:500px;
      img{
        border-radius: .5em;
        width:100%;
      }
    }
  }
}

.footer-btn{
  display: inline-block;
  text-decoration: none;
  padding: 6px;
  margin-top: 25px;
  background: none;
  border-radius: 0px;
  border: 1px solid #373F51;
  color: #373F51;
  padding-left: 50px;
  padding-right: 50px;
    transition: 0.1s ease;
}
.footer-btn:hover{
  text-decoration: none;
  color: white;
  border: 1px solid #2CDA9D;
  border-radius: 5px;
  transition: 0.1s ease;
  background-color: #2CDA9D;
}


.workDivider{
  width:100vw;
  margin-left:-5px;
}
.bg-wrapper{
  padding:0 0 2em 0;
  margin:0;
  width: 100vw;
  background-color: $maincolor;
  .work{
    color:white;
    padding-bottom:2em;
    .row{
      padding-top:0em;
    }
  }
}
.contact{
  padding:2em 0 2em 0;
  .row{
    padding:0;
  }
  .form{
    padding-top:15px;
  }
  .links{
    margin-top:50px;
    padding-bottom:2em;
  }
  ul{
    display: inline;
    li{
      padding: 0 15px 0 15px;
      a{
        padding: 0 5px 0 5px;
        color:$maincolor;
        font-size: 1em;

      }
      a:hover{
        color:$accent;
      }
    }

  }
  h2{
    text-align: center;
  }
  form{
    width:80%;
    display:inline-block;
    input{
      margin: auto;
      width:40%;
      border:1px solid $maincolor;
      color:$maincolor;
      margin-top: 5px;
      border-radius: 5px;
    }
    textarea{
      margin: auto;
      width:80.5%;
      border: 1px solid $maincolor;
      padding: 3px 5px 4px;
      border-radius:5px;
      margin-top: 5px;
      display:block;
    }
    .submit{
      border: 1px solid $maincolor;
            transition: .1s ease;
    }
    .submit:hover{
      color:white;
      background-color: $accent;
      border:1px solid transparent;
      transition: .1s ease;
      cursor: pointer;
    }

  }
}
//Bullets for project stacks
.fatslice{
  li::before{
    background-color: $accent2;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: .35rem;
    width: 10px;
  }
}
.flack{
  li::before{
    background-color: #22AED1;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: .35rem;
    width: 10px;
  }
}
.footnotes{
  li::before{
    background-color: $accent;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: .35rem;
    width: 10px;
  }
}
.nvhf{
  li::before{
    background-color: #6666FF;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: .35rem;
    width: 10px;
  }
}



//Box-shadows for images
.fs{
  box-shadow: 0 0px 10px rgba(200, 6, 17, .1), 0 3px 30px rgba(200, 6, 17, .1);
  transition: .25s ease-in-out;
}
.fs:hover{
    box-shadow: 0 0px 20px rgba(200, 6, 17, .15), 0 3px 30px rgba(200, 6, 17, .15);
  transition: .25s ease-in-out;
}
.flck{
  box-shadow: 0 0px 10px rgba(34, 174, 209, .2), 0 3px 30px rgba(34, 174, 209, .2);
      transition: .25s ease-out;
}
.flck:hover{
  box-shadow: 0 0px 20px rgb(34, 174, 209, .3), 0 3px 30px rgba(34, 174, 209, .3);
  transition: .25s ease-in-out;
}

.fnotes{
  box-shadow: 0 0px 10px rgba(174, 206, 125, .2), 0 3px 30px rgba(174, 206, 125, .2);
    transition: .25s ease-out;
}
.fnotes:hover{
  box-shadow: 0 0px 20px rgba(174, 206, 125, .3), 0 3px 30px rgba(174, 206, 125, .3);
  transition: .25s ease-out;
}
.nvf{
  box-shadow: 0 0px 10px rgba(100, 100, 255, .2), 0 3px 30px rgba(100, 100, 255, .2);
    transition: .25s ease-out;
}
.nvf:hover{
  box-shadow: 0 0px 10px rgba(100, 100, 255, .3), 0 3px 30px rgba(100, 100, 255, .3);
  transition: .25s ease-out;
}
